<div class="container mt-4 w-50">
  <div class="row title d-flex justify-content-center align-items-center mt-5">
    <div class="d-flex">
      <h2 class="mx-auto">編輯支出</h2>
    </div>

    <form action="/records/{{record._id}}?_method=PUT" class="container needs-validation mt-4" method="POST">
      <div class="input-group mb-3  row">
        <input id="name" name="name" type="text" class="form-control" placeholder="消費內容 (必填)" aria-label="Username"
          aria-describedby="basic-addon1" value="{{record.name}}" required>
      </div>

      <div class="input-group mb-3 row justify-content-center">
        <input type="name" id="date" name="date" class="form-control" placeholder="日期 (必填)" value="{{record.date}}" required>
      </div>

      <div class="input-group mb-3 row justify-content-center">
        <select name="category" class="custom-select categoty" id="inputGroupSelect01" value="{{record.category}}" required>
          <option selected>類別 (必填)</option>
          <option value="餐飲食品">餐飲食品</option>
          <option value="交通出行">交通出行</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="家居物業">家居物業</option>
          <option value="其他">其他</option>
        </select>
      </div>

      <div class="input-group mb-3 row justify-content-center">
        <input id="amount" name="amount" type="text" class="form-control" placeholder="金額 (必填)" aria-label=""
          aria-describedby="basic-addon1" value="{{record.amount}}" required>
      </div>
      <div class="input-group mb-3 row justify-content-center">
        <button class="btn btn-outline-info" type="submit">編輯支出</button>
      </div>

    </form>
  </div>
</div>